<div class="container">
  <h1>Front-end developer</h1>
  <div class='contactsRow'>
    <div class="col-md-8">

      <table>
        <tr class='row'>
          <th class='rowt'>Name:</th>
          <td class='rowt'>Andrii Lysiuk</td>
        </tr>

        <tr class='row'>
          <th class='rowt'>Location:</th>
          <td class='rowt'>Kyiv</td>
        </tr>

        <tr class='row'>
          <th class='rowt'>Age:</th>
          <td class='rowt'>54</td>
        </tr>

        <tr class='row'>
          <th class='rowt'>Contact:</th>
          <td class='rowt'>Phone: +38(067)167-45-59 <br> e-mail: <a
              href="mailto:avl.hp2208@gmail.com">avl.hp2208@gmail.com</a>
          </td>
        </tr>

      </table>

    </div>
    <div class="img">
      <img src="/assets/01-1.jpg" alt="">
    </div>
  </div>
  <hr>
  <div class="row goal">
    <table class="table">
      <tr class='row'>
        <th class='rowt'>Objective:</th>
        <td class='rowt'>Getting a position of Front-End Developer to share my knowledge with a team for achieving
          common goal.
        </td>
      </tr>
    </table>
    <hr>
    <table class="table">
      <tr class='row'>
        <th class='rowt'>Technologies:</th>
        <td class='col-10'>
          <ul>
            <li class='tip' *ngFor="let item of technologies">{{item.name}}
              <span>{{item.description}}</span>
            </li>
          </ul>

        </td>

      </tr>
    </table>
    <hr>
    <table class="table">
      <tr class='row'>
        <th class='col'>Education:</th>
        <td class='col10'>1982-1986 - Киевское высшее военно-морское политическое училище.<br>
          2002-2004 - Украинский образовательный центр менеджмента и предпринимательства - экономист. <br>
          2019-2019 - CyberBionic Systematics - Front End Developer.
        </td>
      </tr>
    </table>
    <hr>

    <table class="table">
      <tr class='row'>
        <th class='col'>Expirience:</th>
        <td class='col1'>
          August 2019 — December 2019<br>
          Web front-end developer (Skip-forum) <br>
          Web-page design development
        </td>
      </tr>
    </table>
    <hr>
  </div>
</div>