p {
    font-size: 18px;
    padding: 15px;
    text-align: justify;
    text-indent: 30px;
}
button {
    width: 150px;
    height: 50px;
    background: rgb(238, 230, 179);
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    left: 44%;
    margin-bottom: 10px;
}    
.certificate {
    font-size: 20px;
    color: navy;
    font-weight: bold;
    text-align: center;
}
.item {
    font-size: 18px;
    color: rgb(238, 230, 179);
    padding-left: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2,
h3 {
    font-style: italic;
    padding-left: 20px;
}