<div class="container-fluid mb-5">
  <div>
    <h3>Курсы: </h3>
    <h2>{{activeCourse.name}}</h2>
    <p>{{activeCourse.description}}</p>
    <p>Уроков: {{activeCourse.lessons.length}}</p>
    <div class="item" *ngFor="let item of activeCourse.lessons; let i = index">
      {{i+1}}. {{item}}
    </div>
    <hr>
    <div class="certificate">
      <a href={{activeCourse.sertificate}} target="_blank" title="переход на другой сайт в новой вкладке"> Сертификат
      </a>
    </div>
    <hr>
  </div>

  <button (click)='goBack()'>Вернуться</button>