header {
  margin: 0 auto;
  max-width: 1200px;
}
nav {
  text-align: center;
  background: linear-gradient(to top, #e9c707, #3677f1);
  
}

a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

a:hover {
  background: rgb(221, 208, 28);
  color: red;
}

footer {
  max-width: 1200px;
  background: linear-gradient(to top, #e9c707, #3677f1);
  height: 50px;
  margin: 0 auto;
  font-size: 10px;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

footer:hover {
  background: rgb(221, 208, 28);
}