nav {
  text-align: center;
  background: linear-gradient(to top, #e9c707, #3677f1);
margin-bottom: 15px;
}

a {
  display: inline-block;
  padding: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

a:hover {
  background: linear-gradient(180deg, rgba(120,9,9,1) 26%, rgba(1,1,8,1) 100%);
  color: wheat;
}

footer {
  max-width: 1200px;
  background: linear-gradient(to top, #e9c707, #3677f1);
  height: 50px;
  margin: 0 auto;
  font-size: 10px;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

footer:hover {
  background: rgb(221, 208, 28);
}